.banner {
  position: relative;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}

.banner img {
  display: block;
  width: 100%;
  min-height: 944px ;
  object-fit: cover;
  position: relative;
  text-align: center;
  border-radius: 24px;
  overflow: hidden;
}

.banner h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-size: 3em;
}

